header {
    display: flex;
    justify-content: center;
    background-color: var(--bg-third-color);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem 0;
  }
  
  header img {
    height: 16rem;
    margin-bottom: 2rem;
  }
  
  header h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  header h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .hero-btns {
    display: flex;
    width: 25vw;
    justify-content: space-between;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 4rem;
    border-radius: 50px;
    margin-left: 4.5rem;
    background-color: var(--primary-color);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--secondary-color);
  }

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }

  .cerca-libro {
    width: max-content;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 14px;
    border-radius: 28px;
    background: var(--bg-third-color);
    transition: box-shadow 0.25s;
  }

  .cerca-libro:focus-within {
    box-shadow: 0 0 10px var(--secondary-color);
  }

  .cerca-input {
    font-size: 16px;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
  }

  .cerca-input::placeholder, .cerca-icon {
    color: rgba(0, 0, 0, 0.25);
  }