header {
    display: flex;
    justify-content: center;
    background-color: var(--bg-third-color);
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem 0;
  }
  
  header img {
    height: 16rem;
    margin-bottom: 2rem;
  }
  
  header h1 {
    margin-bottom: 1rem;
  }
  
  header h2 {
    margin-bottom: 2rem;
  }
  
  .hero-btns {
    display: flex;
    width: 25vw;
    justify-content: space-between;
  }