form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

.cerca-libro {
  width: max-content;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 14px;
  border-radius: 28px;
  background: var(--bg-color-soft);
  transition: box-shadow 0.25s;
}

.cerca-libro:focus-within {
  box-shadow: 0 0 10px var(--secondary-color);
}

.cerca-input {
  font-size: 16px;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 400px;
}

.cerca-input::placeholder,
.cerca-icon {
  color: rgba(0, 0, 0, 0.25);
}

.catalogo-grid {
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  background-color: var(--bg-color-soft);
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-img {
  width: 180px;
  height: auto;
}

.grid-img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-description {
  margin-top: 1.5rem;
}

.titolo-libro a {
  font-weight: bold;
  text-decoration: none;
}

.autore-libro a {
  color: gray;
  text-decoration: none;
  font-size: 0.9rem;
}

.prezzo-libro {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 3rem;
}

.valore-prezzo {
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--price-color);
}

.btn-acquista {
  background-color: var(--buy-btn-bg);
  color: var(--buy-btn-text);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-acquista:hover {
  background-color: var(--buy-btn-bg-hover);
}

.titolo-libro a:hover,
.autore-libro a:hover {
  text-decoration: underline;
}

.grid > div {
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 1.5rem;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--buy-btn-bg);
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
