* {
  margin: 0;
  padding: 0;
}

/* navbar */
nav {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

nav img {
  max-height: 10vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav-link {
  border: 1px, solid, red;
  display: flex;
  margin: 2rem, 0;
  align-items: center;
}

#nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-link ul li {
  padding: 0 1rem;
  list-style: none;
}

/* buttons */
button {
  height: 2.5rem;
  padding: 0 4rem;
  border-radius: 50px; /* si comporta in modo strano!!! */
  background-color: peachpuff;
}
