:root {
  --bg-color: #f9f9f9;
  --bg-color-soft: #fff3ea;
  --bg-color-orange: #ffb88c;
  --text-color: #2d2d2d;
  --primary-color: #e86434;
  --primary-color-dark: #c75128;
  --secondary-color: #21756e;

  /* === Prezzo e Bottone acquista === */
  --price-color: #ff6a33;
  --buy-btn-bg: #2a8f85;
  --buy-btn-bg-hover: #21756e;
  --buy-btn-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: "Lexend", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* === Font === */
h1 {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 4rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* === buttons === */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0.8rem 5rem;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary-color {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
}

.btn-primary-color:hover {
  background-color: var(--primary-color-dark);
  transform: scale(1.05);
}

.btn-secondary-color {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-secondary-color:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* === hero === */
header {
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to top, var(--bg-color), #ffb88c);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 0 1rem 4rem 1rem;
}

header img {
  height: 16rem;
  margin-bottom: 1.5rem;
}

header h1 {
  margin-bottom: 1rem;
}

header h2 {
  margin-bottom: 2rem;
}

.hero-btns {
  display: flex;
  gap: 1rem; /*spazio costante tra i bottoni*/
  flex-wrap: wrap; /*così vanno a capo se manca spazio*/
  justify-content: center;
  margin-top: 2rem;
}
